:root{
    --azul__escuro: #48487f;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #afafaf;
}

body{
    font-family: 'Libre Baskerville', sans-serif;
    width: 100%;
    background-color: var(--branco);
}

.header__container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul__escuro);
    padding: 1.5em;
    box-shadow: 0px 2px 5px var(--azul__escuro);
}

.header__link{
    text-decoration: none;
    color: var(--branco);
    font-size: 20px;
}

.main__container{
    margin: 2em auto 0;
    width: 90%;
    text-align: center;
}

.main__image{
    width: 100%;
    min-width: 250px;
    max-width: 500px;
}

.info__container{
    margin: 1em 0;
    padding: 1.5em;
    background-color: var(--cinza);
    text-align: justify;
    border-radius: 10px;
}

.info__titulo{
    font-size: 1.25em;
    color: var(--azul__escuro);
}

.info__texto{
    font-size: 1em;
    color: var(--preto);
    margin: 1em 0;
}

.info__contato{
    display: flex;
    justify-content: space-around;
}

.info__contato_link{
    text-decoration: none;
    color: var(--azul__escuro);
    font-size: 1.15em;
    margin: 0.5em 0;
}

.galery__image{
    width: 100%;
    min-width: 250px;
    max-width: 500px;
}